<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro médico</title>
  <style>
    /* Adicione estilos conforme necessário */
    .error-message {
      color: red;
    }
  </style>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>

  <script src="../static/js/index.js"></script>
</head>

<body>

  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div id="header">
    <img src="../static/img/logoRHP.png" alt="Logo" class="LOGORHP">
  </div>




  <div class=" container">
    <div class="titulo">
      <h2> <strong> Ficha Cadastral para os Profissionais Terceiros da Área de Saúde </strong> </h2>
    </div>


    <form id="cadastroForm" method="POST" action="{% url 'cadastro_concluido' %}" onsubmit="return validateForm()">
      {% csrf_token %}
      <!-- Campos de entrada -->
      <label for="nome">Nome:</label>
      <input type="text" name="nome" required>


      <label for="cracha">Crachá:</label>
      <input type="text" name="cracha" required>


      <label for="cpf">CPF:</label>
      <input type="text" name="cpf" required maxlength="14">


      <label for="data_nascimento">Data de Nascimento:</label>
      <input type="text" name="data_nascimento" required>


      <label for="estado_nascimento">Estado de Nascimento:</label>
      <select name="estado_nascimento" id="estado_nascimento">
        <option value="" disabled selected>Selecione...</option>
      </select>
      <!-- <input type="text" name="estado_nascimento" required> -->


      <label for="cidade_nascimento">Cidade de Nascimento:</label>
      <input type="text" name="cidade_nascimento" required>


      <label for="genero">Sexo:</label>
      <select name="sexo" required>
        <option value="" disabled selected>Selecione...</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
      </select>

      <label for="raca">Raça:</label>
      <select name="raca" id="raca" required>
        <option value="" disabled selected>Selecione...</option>
        <option value="">Parda</option>
        <option value="">Branca</option>
        <option value="">Preta</option>
        <option value="">Indígena</option>
        <option value="">Amarela</option>
      </select>



      <label for="estado_civil">Estado Civil:</label>

      <select name="estado_civil" id="estado_civil">
        <option value="" selected disabled>Selecione...</option>
        <option value="">Solteiro</option>
        <option value="">Casado</option>
        <option value="">Separado</option>
        <option value="">Divorciado</option>
        <option value="">Viúvo</option>
        <option value="">União Estavel</option>

      </select>


      <label for="email">Email:</label>
      <input type="text" name="email" required>


      <label for="celular">Celular:</label>
      <input type="text" name="celular" required>


      <label for="cep">CEP:</label>
      <input type="text" name="cep" required>


      <label for="estado">Estado:</label>
      <select name="estado" id="estado" required>
        <option value="" disabled selected>Selecione...</option>
      </select>



      <label for="cidade">Cidade:</label>
      <input type="text" name="cidade" required>


      <label for="bairro">Bairro:</label>
      <input type="text" name="bairro" required>


      <label for="endereco">Endereço:</label>
      <input type="text" name="endereco" required>


      <label for="complemento">Complemento:</label>
      <input type="text" name="complemento" required>


      <label for="grau_de_instrucao">Grau de Instrução:</label>
      <select name="" id="">
        <option value="" selected disabled>Selecione...</option>
        <option value="">Superior completo</option>
        <option value="">Mestrado</option>
        <option value="">Doutorado</option>
        <option value="">Ph.D</option>
      </select>


      <label for="conselho">Conselho:</label>
      <input type="text" name="conselho" required>


      <label for="especialidade">Especialidade:</label>
      <input type="text" name="especialidade" required>


      <label for="especialidade2">Segunda Especialidade:</label>
      <input type="text" name="especialidade2" required>


      <label for="honorarios">Honorários:</label>
      <input type="text" name="honorarios" required>

      <div class="clinica">
        <h2>Clínica</h2>
      </div>

      <label for="clinica1">Nas dependências do RHP, Qual?</label>
      <input type="text" name="clinica1" required>


      <label for="clinica2">Assinatura e carimbo do coordenador da Clínica:</label>
      <input type="text" name="clinica2" required>


      <label for="clinica3">Clínica Externa. Qual?</label>
      <input type="text" name="clinica3" required>



      <input type="submit" value="Enviar" class="btn">
    </form>

  </div>




</body>

</html>