<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro médico</title>
  <style>
    /* Adicione estilos conforme necessário */
    .error-message {
      color: red;
    }
  </style>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js"></script>
<script src="../static/js/index.js"></script>

</head>

<body>

  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <div id="header">
    <img src="../static/img/logoRHP.png" alt="Logo" class="LOGORHP">
  </div>




  <div class=" container">
    <div class="titulo">
      <h2> <strong> Ficha Cadastral para os Profissionais Terceiros da Área de Saúde </strong> </h2>
    </div>


    <form id="cadastroForm" method="POST" action="{% url 'cadastro_concluido' %}" onsubmit="return validateForm()">
      {% csrf_token %}
      <!-- Campos de entrada -->
      <label for="nome">Nome:</label>
      <input type="text" name="nome" required>


      <label for="cracha">Crachá:</label>
      <input type="text" name="cracha" required>


      <label for="cpf">CPF:</label>
      <input type="text" name="cpf" required maxlength="14">


      <label for="data_nascimento">Data de Nascimento:</label>
      <input type="text" name="data_nascimento" required>


      <label for="estado_nascimento">Estado de Nascimento:</label>
      <select id="estado_nascimento" name="estado_nascimento" class="select2" required>
        <option value=""></option>
        <option value="Acre">Acre</option>
        <option value="Alagoas">Alagoas</option>
        <option value="Amapá">Amapá</option>
        <option value="Amazonas">Amazonas</option>
        <option value="Bahia">Bahia</option>
        <option value="Ceará">Ceará</option>
        <option value="Distrito Federal">Distrito Federal</option>
        <option value="Espírito Santo">Espírito Santo</option>
        <option value="Goiás">Goiás</option>
        <option value="Maranhão">Maranhão</option>
        <option value="Mato Grosso">Mato Grosso</option>
        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
        <option value="Minas Gerais">Minas Gerais</option>
        <option value="Pará">Pará</option>
        <option value="Paraíba">Paraíba</option>
        <option value="Paraná">Paraná</option>
        <option value="Pernambuco">Pernambuco</option>
        <option value="Piauí">Piauí</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
        <option value="Rondônia">Rondônia</option>
        <option value="Roraima">Roraima</option>
        <option value="Santa Catarina">Santa Catarina</option>
        <option value="São Paulo">São Paulo</option>
        <option value="Sergipe">Sergipe</option>
        <option value="Tocantins">Tocantins</option>
      </select>


      <label for="cidade_nascimento">Cidade de Nascimento:</label>
      <input type="text" name="cidade_nascimento" required>


      <label for="genero">Sexo:</label>
      <select name="sexo" required>
        <option value="" disabled selected></option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
      </select>

      <label for="raca">Raça:</label>
      <select id="raca" name="raca" class="select2" required>
        <option value=""></option>
        <option value="branca">Branca</option>
        <option value="preta">Preta</option>
        <option value="parda">Parda</option>
        <option value="amarela">Amarela</option>
        <option value="indigena">Indígena</option>
      </select>


      <label for="estado_civil">Estado Civil:</label>
      <select id="estado_civil" name="estado_civil" required>
        <option value=""></option>
        <option value="Uniao Estavel">União Estável</option>
        <option value="Casado">Casado(a)</option>
        <option value="Divorciado">Divorciado(a)</option>
        <option value="Separado">Separado(a)</option>
        <option value="Solteiro">Solteiro(a)</option>
        <option value="Viuvo">Viúvo(a)</option>
      </select>



      <label for="email">Email:</label>
      <input type="text" name="email" required>


      <label for="celular">Celular:</label>
      <input type="text" name="celular" required>


      <label for="cep">CEP:</label>
      <input type="text" name="cep" required>


      <label for="estado">Estado:</label>
      <select id="estado" name="estado" class="select2" required>
        <option value=""></option>
        <option value="Acre">Acre</option>
        <option value="Alagoas">Alagoas</option>
        <option value="Amapá">Amapá</option>
        <option value="Amazonas">Amazonas</option>
        <option value="Bahia">Bahia</option>
        <option value="Ceará">Ceará</option>
        <option value="Distrito Federal">Distrito Federal</option>
        <option value="Espírito Santo">Espírito Santo</option>
        <option value="Goiás">Goiás</option>
        <option value="Maranhão">Maranhão</option>
        <option value="Mato Grosso">Mato Grosso</option>
        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
        <option value="Minas Gerais">Minas Gerais</option>
        <option value="Pará">Pará</option>
        <option value="Paraíba">Paraíba</option>
        <option value="Paraná">Paraná</option>
        <option value="Pernambuco">Pernambuco</option>
        <option value="Piauí">Piauí</option>
        <option value="Rio de Janeiro">Rio de Janeiro</option>
        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
        <option value="Rondônia">Rondônia</option>
        <option value="Roraima">Roraima</option>
        <option value="Santa Catarina">Santa Catarina</option>
        <option value="São Paulo">São Paulo</option>
        <option value="Sergipe">Sergipe</option>
        <option value="Tocantins">Tocantins</option>
      </select>


      <label for="cidade">Cidade:</label>
      <input type="text" name="cidade" required>


      <label for="bairro">Bairro:</label>
      <input type="text" name="bairro" required>


      <label for="endereco">Endereço:</label>
      <input type="text" name="endereco" required>


      <label for="complemento">Complemento:</label>
      <input type="text" name="complemento" required>


      <label for="grau_de_instrucao">Grau de Instrução:</label>
      <select id="grau_de_instrucao" name="grau_de_instrucao" required>
        <option value=""></option>
        <option value="Superior completo">Superior completo</option>
        <option value="Mestrado">Mestrado</option>
        <option value="Doutorado">Doutorado</option>
        <option value="Ph.D.">Ph.D.</option>
      </select>


      <label for="conselho">Conselho:</label>
      <input type="text" name="conselho" required>


      <label for="especialidade">Especialidade:</label>
      <input type="text" name="especialidade" required>


      <label for="especialidade2">Segunda Especialidade: (caso não tenha, digite "não tenho")</label>
      <input type="text" name="especialidade2" required>


      <label for="honorarios">Deseja receber honorários?</label>
      <input type="text" name="honorarios" required>

      <div class="clinica">
        <h2>Clínica</h2>
      </div>

      <label for="clinica1">Nas dependências do RHP, Qual?</label>
      <input type="text" name="clinica1" required>


      <label for="clinica2">Assinatura e carimbo do coordenador da Clínica:</label>
      <input type="text" name="clinica2" required>


      <label for="clinica3">Clínica Externa. Qual?</label>
      <input type="text" name="clinica3" required>



      <input type="submit" value="Enviar" class="btn">
    </form>

  </div>




</body>

</html>